@model Service.Models.PetViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (@Html.DisplayFor(model => model.Foto) != null)
            {
                <img src="~/img/profile_pet/@Html.DisplayFor(model => model.Foto)" alt="@Html.DisplayFor(model => model.Foto)" class="rounded-circle" height="40" width="40">
            }
            else
            {
                <img src="~/img/profile_pet/image-not-found.png" alt="Card image cap" class="rounded-circle" height="40" width="40">
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ong.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adotado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adotado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
