@model IEnumerable<Service.Models.PetViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Início</h1>

<p>
    <a asp-action="Criar">Cadastrar Pet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (@item.Photo != null)
                {
                    <img src="~/img/profile_pet/@item.Photo" alt="@item.Photo" class="rounded-circle" height="40" width="40" asp-append-version="true">
                }
                else
                {
                    <img src="~/img/profile_pet/image-not-found.png" alt="Card image cap" class="rounded-circle" height="40" width="40" asp-append-version="true">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ong.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
